.header__lang-link {
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}