.cover__link {
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }
}

/*стили для экранов от 768 до 1023 пикселей*/

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
}

/*стили для экранов до 767 пикселей*/

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
}