.places__image {
    width: 460px;
    height: 460px;
    object-fit: cover;
}

/*стили для экранов от 1024 до 1279 пикселей*/

@media screen and (max-width: 1279px) {
    .places__image {
        width: 440px;
        height: 440px;
    }
}

/*стили для экранов от 768 до 1023 пикселей*/

@media screen and (max-width: 1023px) {
    .places__image {
        width: 340px;
        height: 340px;
    }
}

/*стили для экранов до 767 пикселей*/

@media screen and (max-width: 767px) {
    .places__image {
        width: 320px;
        height: 320px;
    }
}