.info__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

/*стили для экранов от 768 до 1023 пикселей*/

@media screen and (max-width: 1023px) {
    .info__title {
        max-width: 720px;
    }
}

/*стили для экранов до 767 пикселей*/

@media screen and (max-width: 767px) {
    .info__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}