.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 640px;
    text-align: center;
    margin: 32px 0 0;
}

/*стили для экранов до 767 пикселей*/

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        margin: 16px 0 0;
    }
}