.places__place {
    /*width: 100%;*/
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

.places__place:last-child {
    margin: 0;
}

/*стили для экранов от 1024 до 1279 пикселей*/

@media screen and (max-width: 1279px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

/*стили для экранов от 768 до 1023 пикселей*/

@media screen and (max-width: 1023px) {
    .places__place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

/*стили для экранов до 767 пикселей*/

@media screen and (max-width: 767px) {
    .places__place {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        row-gap: 32px;
        margin-bottom: 49px;
    }
}