.footer {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 92px 48px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*стили для экранов от 768 до 1023 пикселей*/

@media screen and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

/*стили для экранов до 767 пикселей*/

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 64px 0 24px 16px;
    }
}